.profileBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventsInfo {
    width: auto;
}

@media (orientation: landscape) {
    .eventsInfoContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (orientation: portrait) {
    .eventsInfoContainer {
        grid-template-columns: 1fr 1fr;
    }
}
